body, html {
  background: var(--bg-body);
  color: var(--text-dark);
}

a {
  color: var(--primary-link);
}

a:hover {
  color: var(--primary-link-highlight);
}

.highlight {
  color: var(--secondary-highlight);
}

h1 {
  font: 2.4rem Georgia, serif;
  color: var(--primary-heading);
  margin: 0.2em 0 0;
  text-align: center;
}

@media only screen and (max-width: 660px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font: 1.6rem Arial, "Microsoft YaHei", Meiryo, sans-serif;
  color: var(--primary-heading);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 1.4em 0 0.4em;
}

h2 a {
  color: var(--text-light);
  text-decoration: none;
}

@media only screen and (max-width: 660px) {
  h2 {
    margin-top: 2em;
  }

  h2:before {
    display: none;
  }
}

h3 {
  font-size: 0.95rem;
  color: var(--secondary-heading);
  margin-top: 2em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 660px) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font: bold 0.95rem Arial, "Microsoft YaHei", Meiryo, sans-serif;
  color: var(--text-light);
}

h5 {
  font: bold 0.8rem Arial, "Microsoft YaHei", Meiryo, sans-serif;
  color: var(--primary-heading);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 45px 0 0;
}

h6 {
  font: bold 0.8rem Arial, "Microsoft YaHei", Meiryo, sans-serif;
  color: var(--primary-heading);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1.5em 0 0.5em;
}

#container {
  display: grid;
  grid-template-columns: [col-start] auto [col-1] 840px [col-2] auto [col-end];
  grid-template-rows: [row-start] 345px [row-1] auto [row-2] auto [row-end];
}

@media only screen and (max-width: 840px) {
  #container {
    grid-template-columns: [col-start] auto [col-1] 720px [col-2] auto [col-end];
  }
}

@media only screen and (max-width: 660px) {
  #container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [row-start] 345px [row-1] auto [row-2] auto [row-end];
  }
}

.content {
  line-height: 1.5rem;
  margin-bottom: 7.5em;
}

@media only screen and (max-width: 660px) {
  .content {
    line-height: 1.8rem;
  }
}

.content:after {
  content: var(--content-break);
  position: absolute;
  left: var(--content-break-position);
  margin-top: 35px;
}

.content .note {
  font-weight: bold;
  margin: 0 1px 0 3px;
}

.content .note:before {
  font-weight: normal;
  content: "[";
}

.content .note:after {
  font-weight: normal;
  content: "]";
}

.content .notelink {
  font-weight: bold;
  text-decoration: none;
}

.content .contact a {
  color: var(--primary-heading);
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

.content .contact a:hover {
  color: var(--primary-link);
}

.content .contact:before {
  content: "[";
  margin-left: 3px;
  color: var(--text-light);
}

.content .contact:after {
  content: "]";
  margin-right: 3px;
  color: var(--text-light);
}

.content table {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content tr {
  padding: 1px 0;
  line-height: 1.2rem;
  font-size: 0.75rem;
}

.content tr:nth-child(odd) {
  background: var(--bg-row-grey-light);
}

.content tr:hover {
  background: var(--bg-row-grey-dark);
}

.content tr.break td {
  border-top: 1px dotted #aaa;
}

.content td:nth-child(1) {
  width: 240px;
  font-weight: bold;
}

.content td .source {
  color: var(--primary-link-highlight);
}

.content td .glossary {
  color: var(--primary-link);
  font-weight: normal;
}

.content td .page {
  color: #777;
  font-weight: normal;
}

@media only screen and (max-width: 660px) {
  .content td:nth-child(1) {
    width: 140px;
  }
}
