/* Kara */

@use 'normalize';

$media-mobile: "only screen and (max-width: 640px)";

$font-title: ("Times New Roman", Georgia, serif);
$font-content: ("Times New Roman", Times, "Microsoft YaHei", Meiryo, serif);

$color-grey: #777;
$color-teal: #21759b;
$color-orange: #c93b0e;
$bracket-left: "[";
$bracket-right: "]";

body, html{
  height:100%;
  background: #fff;
}

h1 {
  color: #000;
  font: bold 3em $font-title;
  margin: 20px 0;

  @media #{$media-mobile} {
    font-size: 1.7em;
  }
}

a:link, a:visited {
  text-decoration: none;
  color: $color-teal;
}

a:hover {
  text-decoration: none;
  color: $color-orange;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.separator {
  height: 19px;
  width: 500px;
  background: transparent url('../img/ornament2.png') no-repeat;
  margin: 30px auto;

  @media #{$media-mobile} {
    width: 190px;
    background: transparent url('../img/ornament.png') no-repeat;
  }
}

.separator-small {
  height: 19px;
  width: 190px;
  background: transparent url('../img/ornament.png') no-repeat;
  margin: 30px auto;
  padding-bottom: 20px;
}

.wrapper {
  position: relative;
  margin-left: 50px;
  max-width: 900px;
  padding: 1px 0;

  @media #{$media-mobile} {
    margin: 0 20px;
  }
}

.centered-info {
  text-align: center;
  color: #000;
  font-size: 0.6em;
  margin-bottom: 20px;
}

#top {
  border-bottom: 5px solid #333;

  .nav {
    float: left;
    margin: 0 0 10px 2px;
    font: bold 1.45em $font-title;
    width: 100%;
    color: $color-grey;
    position: relative;

    .nav-info {
      display: inline-block;
      color: $color-orange;
    }

    .nav-lang {
      position: absolute;
      bottom: 0;
      right: 0;

      @media #{$media-mobile} {
        position: relative;
      }
    }
  }
}

#main {
  margin-top: 40px;

  #toc {
    margin: 0 30px;
    font: normal 1.7em $font-title;

    h1 {
      font-size: 2em;
      text-align: center;
    }
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-bottom: 1px dotted #aaa;
    }

    li {
      border-top: 1px dotted #aaa;
      padding: 8px 0;
      text-align: center;
      
      a {
        display: block;
        font-weight: bold;
      }
    }

    li:hover {
      background: #f8f7ef;
    }

    .info {
      font-size: 0.6em;
      color: #777;
      font-weight: normal;
      margin-bottom: 4px;
    }

    .new {
      color: $color-orange;
    }
  }
}

.permalink {
  @media #{$media-mobile} {
    display: none;
  }

  a {
    float: left;
    color: $color-grey;
    margin: 0 10px;
    font-size: 1.4em;

    &:hover {
      color: $color-orange;
    }
  }
}

.entry {
  margin: 20px 0;
}

.entry-lang {
  text-align: right;
  margin-right: 10px;

  @media #{$media-mobile} {
    margin-bottom: 10px;
  }

  a {
    font-size: 1.1em;
    color: $color-teal;
    padding: 0 2px;
    cursor: pointer;
  }

  .active {
    color: $color-orange;
  }

  img {
    width: 20px;
    vertical-align: bottom;
  }
}

.entry-title {
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 5px;
}

.entry-category {
  color: $color-orange;
  font-size: 1.2em;

  &:before {
    content: $bracket-left;
    margin-right: 3px;
  }

  &:after {
    content: $bracket-right;
    margin-left: 3px;
  }
}

.entry-content {
  font-size: 1.2em;

  p {
    line-height: 1.5em;
  }

  li {
    line-height: 1.5em;
  }
}

.entry-image {
  margin: 20px auto 10px;
  text-align: center;

  img {
    border: 1px dashed $color-grey;
    margin: 0 5px;
  }
}

h5 {
  display: none;
}

.note {
  font-size: 0.9em;
  color: $color-grey;

  &:before {
    content: $bracket-left;
  }

  &:after {
    content: $bracket-right;
  }
}

.note a:hover, .entry-note ol li a:hover {
  border-bottom: 1px dotted $color-grey;
}
