@use 'constants' as *;

#searchbox {
  font: 13px/1.6 Verdana, Sans-serif;
  color: $text-dark;
  width: 144px;
  height: 26px;
  padding: 0 0 0 28px;
  margin: 11px 10px 8px 18px;
  border: 1px solid #e2e2e2;
  background: #fff url('../img/search.png') no-repeat 6px 6px;

  @media #{$media-mobile} {
    margin: 11px 10px 8px 10px;
  }
}

#search {
  .result {
    margin: 20px 0;

    .title {
      font-size: 1.15em;
      font-weight: bold;
    
      a {
        color: $text-dark;
      }
    }

    .url a {
      font: normal 0.95em $font-content;
      color: $primary-teal;
    
      &:hover {
        color: $primary-orange;
        border-bottom: 1px dotted #ccc;
      }
    }

    .text {
      font: normal 0.95em $font-content;
      line-height: 1.4em;
      color: #444;
    }

    .search-highlight {
      color: $primary-orange;
      font-weight: bold;
    }
  }

}
