@use 'constants' as *;

.side {
  float: left;
  width: 199px;
  border-left: $dotted-border;
  border-bottom: $dotted-border;
  background: $side-background;

  @media #{$media-mobile} {
    width: 100%;
    min-width: 240px;
    border-left: 0;
  }

  img {
    margin-top: 10px;
    padding: 3px;
    border: 1px dashed #777;
    -webkit-filter: grayscale(0.65); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: gray; /* IE6-9 */
    filter: grayscale(0.65); /* Microsoft Edge and Firefox 35+ */
    opacity: 0.9;

    &:hover {
      -webkit-filter: grayscale(0);
      filter: none;
      opacity: 1;
    }
  }

  ul {
    margin-bottom: 14px;

    li {
      font-size: 0.9em;
      background: transparent;

      a {
        color: #444;
      }

      .entry {
        padding: 5px 0px 4px 12px;
      }

      .entry:hover, .entry:active, &.active .entry {
        background: $highlight-background;
        padding-left: 7px;
        border-left: 5px solid $highlight-border;
      }

      a .entry:hover,
      a .entry:active,
      .entry:hover .entry-source,
      .entry:active .entry-source,
      &.active .entry .entry-source,
      &.active a .entry {
        color: $primary-orange;
      }
    }
  }
}

.side-content {
  font-size: 0.75em;

  p {
    color: $text-light;
    line-height: 1.5em;
    margin: 13px;
  }

  h3 {
    border-top: $dotted-border;
    margin: 0 13px;
    padding: 20px 0 0;
  }

  ul, ul li {
    @extend .clear-list;
  }

  .side-title {
    background: $nav-background;
    color: $primary-teal;
    height: 16px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 13px;
    padding: 9px 0 7px;
  }

  .first-char {
    display: block;
    float: left;
    position: relative;
    font-size: 16px;
    background: $highlight-background;
    border: 4px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 24px;
    top: -9px;
    padding: 4px 0 0 8px;
    margin-right: 2px;
  }

  .side-menu {
    color: $primary-orange;
    border-top: $dotted-border;

    .menu-arrow {
      float: left;
      font-weight: bold;
      font-size: 1.05em;
      background: $highlight-background;
      border-right: $dotted-border;

      a {
        color: $primary-orange;
        padding: 4px 8px;
        display: block;
      }
    }
  }
}
