body,html {
  background: $bg-body;
  color: $text-dark;
}

a {
  color: $primary-link;
}

a:hover {
  color: $primary-link-highlight;
}

h1 {
  font: 2.4rem Georgia, serif;
  margin: 0.2em 0 0;
  text-align: center;

  @media #{$media-mobile} {
    font-size: 2rem;
  }
}

h2 {
  font: 1.6rem $base-font;
  color: $primary-heading;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 0 0.4em;

  a {
    color: $text-light;
    text-decoration: none;
  }

  @media #{$media-mobile} {
    margin-top: 2em;

    &:before {
      display: none;
    }
  }
}

h3 {
  font-size: 0.95rem;
  color: $secondary-heading;
  margin-top: 2em;
  margin-bottom: 1em;

  @media #{$media-mobile} {
    font-size: 1.2rem;
  }
}

h4 {
  font: bold 0.95rem $base-font;
  color: $text-light;
}

h5 {
  font: bold 0.8rem $base-font;
  color: $primary-heading;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 45px 0 0;
}

h6 {
  font: bold 0.8rem $base-font;
  color: $primary-heading;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1.5em 0 0.5em;
}

.highlight {
  color: $primary-highlight;

  &:hover {
    color: $primary-link-highlight;
  }
}

#container {
  display: grid;
  grid-template-columns: [col-start] auto [col-1] 840px [col-2] auto [col-end];
  grid-template-rows: [row-start] 300px [row-1] auto [row-2] auto [row-end];

  @media #{$media-compact} {
    grid-template-columns: [col-start] auto [col-1] 720px [col-2] auto [col-end];
  }

  @media #{$media-mobile} {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [row-start] 300px [row-1] auto [row-2] auto [row-end];
  }
}

#main {
  background: $bg-main;
  grid-column: col-1 / col-2;
  grid-row: row-1 / row-2;
  min-height: 400px;
  margin-top: -70px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1em 1.5em;
  font: 0.9rem Verdana, $base-font;

  @media #{$media-mobile} {
    grid-column: 1 / 2;
    grid-row: row-1 / row-2;
    border-radius: 0;
    font-size: 1rem;
    padding: 1em 1em;
  }
}

#footer {
  grid-column: col-1 / col-2;
  grid-row: row-2 / row-end;
  font: 0.7rem Verdana, $base-font;
  color: $text-light;
  text-align: center;
  margin: 6px 0 15px;

  a {
    text-decoration: none;
    color: #639db9;
  }

  @media #{$media-mobile} {
    grid-column: 1 / 2;
    grid-row: row-2 / row-end;
  }
}
