.filter-list {
  font-size: 0.9em;
  margin-top: 2em;

  .list {
    float: left;
    width: 620px;

    @media #{$media-compact} {
      width: 540px;
    }

    @media #{$media-mobile} {
      width: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        border-top: $dotted-border;
        line-height: 1.7em;

        &:nth-child(even) {
          background: $bg-row-grey-light;
        }

        &:hover {
          background: $bg-row-grey-dark;
        }

        a {
          text-decoration: none;
        }
      }
    }

    .header {
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }

      &.profile {
        margin-left: 54px;

       .name {
          width: calc(100% - 208px + 54px);
        }
      }

      &.glossary { 
        margin-left: 0;
        
        .name {
          width: calc(100% - 208px + 90px);
        }

        .expand-all {
          float: right;
          margin: 6px;
          font-weight: bold;
        }
      }
    }

    .item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .icon {
        float: left;
        width: 54px;
        height: 54px;

        img {
          width: 50px;
          margin: 2px;
        }
      }

      .id {
        float: left;
        width: 40px;
        margin: 6px 6px 6px 10px;
      }

      .name {
        float: left;
        margin: 6px;
        font-weight: bold;
        width: calc(100% - 208px);
      }

      .info {
        float: left;
        margin: 6px;
        width: calc(100% - 208px);
        color: $primary-link-highlight;
      }

      .link {
        float: left;
        margin: 6px;
        width: 40px;

        .link-content {
          display: block;
          width: 40px;
        }
      }

      .star {
        float: right;
        margin: 6px 10px 6px 6px;
        text-align: left;
        width: 70px;
      }

      .item-header {
        display: flex;
        flex: 0 0 100%;
        color: $primary-link;

        &:hover {
          cursor: pointer;
        }
      }

      .item-content {
        border-top: $dotted-border;
        flex: 0 0 100%;

        a, a:hover{
          color: $text-dark;
        }

        p {
          padding: 0 5px;
        }

        h2 {
          font-size: 1rem;
          font-weight: bold;
          margin: 20px 0 0 10px;
        }

        h3 {
          font-size: .75rem;
          margin-left: 5px;
        }

        h4 {
          margin-left: 5px;
        }

        h5 {
          margin: 15px 0 5px 15px;
        }
      }
    }

    a .star {
      color: $content-gold;
    }
  }

  .filter {
    width: 162px;
    float: left;
    line-height: 1.4em;
    margin: 0 6px;

    @media #{$media-compact} {
      width: 122px;
    }
  
    @media #{$media-mobile} {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0 0 2em;
      padding: 0;

      li {
        border-bottom: $dotted-border;
        display: flow-root;
        overflow-wrap: break-word;

        &:first-child {
          border-top: $dotted-border;
        }

        a {
          display: block;
          text-decoration: none;
          padding: 0.2em;
          height: 100%;
  
          &:hover {
            background: $bg-row-grey-dark;
          }
        }

        .quick {
          width: 138px;
          float: left;
  
          @media #{$media-compact} {
            width: 98px;
          }

          &.active {
            background: $bg-row-grey-light;
  
            a {
              color: $primary-link-highlight;
            }
          }
  
          &:hover {
            background: $bg-row-grey-dark;
          }

          a:hover {
            background: none;
          }
        }

        .common {
          width: 22.3px;
          height: 22.3px;
          float: left;
          border-left: $dotted-border;

          &.active {
            background: $bg-row-grey-light;
  
            a:before {
              content: "✕";
              margin-left: 3px;
              color: $primary-link-highlight;
            }
          }
  
          &:hover {
            background: $bg-row-grey-dark;
          }

          a:hover {
            background: none;
          }
        }
      }
    }
  }
}
